body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}

.title {
  display: inline-block;
  font-size: 48px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 60px;
  position: relative;
}

.title::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: rgba(35, 82, 222, 0.1);
  left: 0;
  bottom: 5px;
}

.section {
  padding: 140px 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  padding: 12px 24px;
  background-color: rgb(35, 82, 222);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  transition: color 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.button:hover {
  color: rgb(35, 82, 222);
  background-color: transparent;
  box-shadow: 0 0 0 1px rgb(35, 82, 222);
}

.button:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.button:active {
  color: rgb(255, 255, 255);
  background-color: rgb(35, 82, 222);
  box-shadow: inset 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  padding: 0;
}

.scroll-hidden {
  overflow: hidden;
}

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.header::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(35, 82, 222, 0.50);
  z-index: -1;
}

.menu {
  padding-top: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu::before {
  content: " ";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: transparent;
  z-index: -1;
  transition: background-color 0.4s;
}

.fixed.menu::before {
  background-color: rgba(35, 82, 222, 0.50);
}

.menu.fixed {
  position: fixed;
  width: 100%;
  max-width: 1170px;
  top: 0;
  left: 50%;
  z-index: 10;
  padding: 20px 0;
  transform: translateX(-50%);
}

.logo {
  transition: box-shadow 0.4s, opacity 0.4s;
}

.logo:hover {
  opacity: 0.7;
}

.logo:focus {
  box-shadow: 0 0 0 3px rgb(35, 82, 222);
}

.logo:active {
  opacity: 0.5;
}

.burger-btn {
  display: none;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link,
.header__link {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.3s, opacity 0.3s, text-decoration-color 0.3s;
}

.menu__link:hover {
  text-decoration-color: rgb(255, 255, 255);
}

.menu__link:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.menu__link:active {
  opacity: 0.7;
}

.header__content {
  height: calc(100vh - 128px);
  display: flex;
  align-items: center;
  position: relative;
}

.header__content.fixed {
  height: 100vh;
  padding-top: 128px;
}

.header__title {
  font-size: 48px;
  line-height: 1.3;
  font-weight: 400;
  max-width: 550px;
}

.header__subtitle {
  font-size: 90px;
  font-weight: 700;
}

.header__link {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.header__link:hover {
  text-decoration-color: rgb(255, 255, 255);
}

.header__link:focus {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.header__link:active {
  opacity: 0.7;
}

.header__link::after {
  content: " ";
  width: 37px;
  height: 23px;
  background-image: url('../images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  margin: 10px auto 0;
}

.about__text p {
  font-size: 18px;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.skills {
  background-color: rgb(246, 246, 248);
}

.skills__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__img {
  margin-right: 90px;
}

.skills__list {
  max-width: 664px;
  width: 100%;
}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills__item:not(:last-child) {
  margin-bottom: 86px;
}

.skills__name {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin-right: 10px;
}

.skills__line {
  background-color: rgb(219, 219, 237);
  height: 32px;
  width: 90%;
}

.skills__progress {
  background-color: rgb(35, 82, 222);
  height: 100%;
}

.services__list {
  display: flex;
}

.services__item {
  max-width: 330px;
  width: 100%;
}

.services__item:not(:last-child) {
  margin-right: 90px;
}

.services__item::before {
  content: " ";
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: block;
  margin-bottom: 30px;
}

.services__item--frontend::before {
  background-image: url('../images/frontend-icon.svg');
}

.services__item--cms::before {
  background-image: url('../images/cms-icon.svg');
}

.services__item--support::before {
  background-image: url('../images/suppurt-icon.svg');
}

.services__caption {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 25px;
}

.portfolio {
  padding-top: 0;
  text-align: center;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.portfolio__wrapper:not(:last-child) {
  margin-right: 45px;
}

.portfolio__btn {
  font-size: 24px;
  font-weight: 600;
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.3s, color 0.3s, text-decoration-color 0.3s;
}

.mixitup-control-active {
  color: rgb(35, 82, 222);
}

.portfolio__btn:hover {
  color: rgb(35, 82, 222);
  text-decoration-color: rgb(35, 82, 222);
}

.portfolio__btn:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.portfolio__btn:active {
  color: rgb(35, 82, 222);
}

.portfolio__list {
  display: grid;
  gap: 45px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  margin-bottom: 60px;
}

.reviews {
  text-align: center;
  background-color: rgb(246, 246, 248);
}

.reviews__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__blockquote {
  font-size: 24px;
  line-height: 1.3;
  max-width: 400px;
  width: 100%;
  margin: 0 50px;
}

.reviews__avatar {
  border-radius: 50%;
  margin: 0 auto 20px;
}

.reviews__author {
  display: block;
  color: rgb(35, 82, 222);
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
}

.reviews__text {
  font-style: italic;
  font-weight: 300;

}

.reviews__video {
  display: block;
  max-width: 570px;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: box-shadow 0.3s;
  margin: 0 50px;
}

.reviews__video::before {
  content: " ";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  transition: background-color 0.3s;
}

.reviews__video::after {
  content: " ";
  position: absolute;
  background-image: url('../images/play.svg');
  width: 85px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s;
}

.reviews__video:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
}

.reviews__video:hover::after {
  transform: translate(-50%, -50%) scale(1.5);
}

.reviews__video:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.reviews__video:active::before {
  background-color: rgba(0, 0, 0, 0.45);
}

.reviews__video:active::after {
  transform: translate(-50%, -50%) scale(0.6);
}

.result__list {
  display: flex;
  justify-content: center;
}

.result__item {
  max-width: 280px;
  width: 100%;
  text-align: center;
  padding: 50px 15px;
  background-color: rgb(246, 246, 248);
  border: 1px solid rgb(219, 219, 237);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result__item:not(:last-child) {
  margin-right: 15px;
}

.result__item::before {
  content: " ";
  height: 80px;
  width: 97px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  margin: 0 auto 20px;
}

.result__item--works::before {
  background-image: url('../images/works.svg');
}

.result__item--clients::before {
  background-image: url('../images/clients.svg');
}

.result__item--coffee::before {
  background-image: url('../images/coffee.svg');
}

.result__item--review::before {
  background-image: url('../images/review.svg');
}

.result__text {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.result__number {
  font-size: 44px;
  font-weight: 600;
  line-height: 1;
}

.communication {
  padding-top: 0;
}

.communication__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.communication__contacts {
  max-width: 530px;
  width: 100%;
  margin-right: 100px;
}

.communication__text {
  margin-bottom: 30px;
}

.communication__list {
  line-height: 1.3;
  margin-bottom: 30px;
}

.communication__item:not(:last-child) {
  margin-bottom: 15px;
}

.communication__link {
  color: rgb(35, 82, 222);
  border-radius: 3px;
  text-decoration: underline transparent;
  transition: box-shadow 0.3s, text-decoration-color 0.3s, opacity 0.3s;
}

.communication__link:hover {
  text-decoration-color: rgb(35, 82, 222);
}

.communication__link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.communication__link:active {
  opacity: 0.7;
}

.social {
  display: flex;
}

.social__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: box-shadow 0.3s, opacity 0.3s;
}

.social__link:hover {
  opacity: 0.7;
}

.social__link:focus {
  box-shadow: 0 0 0 2px rgba(35, 82, 222, 0.5);
}

.social__link:active {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

.form {
  max-width: 540px;
  width: 100%;
}

.form__top {
  display: flex;
  justify-content: space-between;
}

.form__label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  display: block;
  width: 47%;
  margin-bottom: 30px;
}

.form__label:first-child {
  margin-right: 15px;
}

.form__label--big {
  width: 100%;
}

.form__input {
  display: block;
  color: rgb(0, 0, 0);
  padding: 13px 15px;
  background-color: rgb(246, 246, 248);
  width: 100%;
  margin-top: 10px;
  transition: box-shadow 0.3s, color 0.3s;
}

.form__input--textarea {
  min-height: 115px;
  max-height: 250px;
  resize: vertical;
}

.form__input::placeholder {
  color: rgb(156, 156, 171);
  transition: color 0.3s;
}

.form__input:focus {
  box-shadow: 0 0 0 3px rgba(35, 82, 222, 0.5);
}

.form__input:hover::placeholder {
  color: rgb(0, 0, 0);
}

.footer {
  padding: 50px 0;
  background-color: rgb(52, 55, 64);
  display: flex;
  justify-content: center;
}

@media (max-width: 1199px) {
  .header__logo,
  .burger-btn {
    z-index: 2;
  }

  .menu {
    padding-top: 15px;
  }

  .menu.fixed {
    padding: 15px;
  }

  .header__content {
    height: calc(100vh - 68px);
  }

  .header__content.fixed {
    padding-top: 68px;
  }

  .burger-btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -7px;
    border-radius: 3px;
    transition: opacity 0.3s, box-shadow 0.3s, background-color 0.3s;
  }

  .burger-btn__line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: width 0.2s;
  }

  .burger-btn__line::before,
  .burger-btn__line::after {
    content: " ";
    display: block;
    width: 30px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    transition: transform 0.3s, left 0.3s;
  }

  .burger-btn__line::before {
    top: -10px;
  }

  .burger-btn__line::after {
    bottom: -10px;
  }

  .burger-btn.active .burger-btn__line {
    width: 0;
  }

  .burger-btn.active .burger-btn__line::before {
    transform: rotate(45deg);
    left: -15px;
    top: 0;
  }

  .burger-btn.active .burger-btn__line::after {
    transform: rotate(-45deg);
    left: -15px;
    bottom: 0;
  }

  .burger-btn:hover {
    opacity: 0.7;
  }

  .burger-btn:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  }

  .burger-btn:active {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .menu__list {
    position: absolute;
    left: -15px;
    right: -15px;
    top: 0;
    height: 100vh;
    background-color: rgb(119, 146, 224);
    display: block;
    text-align: center;
    padding-top: 70px;
    transform: translateY(-130%);
    transition: transform 0.5s;
    z-index: 1;
  }

  .menu__list.active {
    transform: translateY(0);
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

  .menu__link {
    padding: 11px 0;
    display: block;
    transition: background-color 0.3s;
  }

  .menu__link:active {
    opacity: 1;
    background-color: rgba(35, 82, 222, 0.7);
  }

  .header__subtitle {
    font-size: 80px;
    display: block;
  }

  .skills__item {
    flex-direction: column;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 50px;
  }

  .skills__name {
    margin: 0 0 5px;
  }

  .skills__line {
    width: 100%;
  }

  .services__list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .services__item:not(:last-child) {
    margin: 0 30px 30px;
  }

  .services__item {
    margin: 0 30px;
  }

  .services__item::before {
    margin-bottom: 15px;
  }

  .portfolio__list {
    grid-template-columns: repeat(2, 360px);
    margin-bottom: 60px;
  }

  .reviews__content {
    flex-wrap: wrap;
  }

  .reviews__blockquote {
    margin-bottom: 70px;
  }

  .result__list {
    flex-wrap: wrap;
    gap: 45px;
  }

  .result__item:not(:last-child) {
    margin: 0;
  }

  .communication {
    text-align: center;
  }

  .communication__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .communication__contacts,
  .form {
    text-align: left;
  }

  .communication__contacts {
    max-width: 540px;
    margin: 0 0 50px;
  }

  .communication__text {
    margin-bottom: 24px;
  }

  .communication__list {
    margin-bottom: 15px;
  }

  .communication__link {
    padding: 8px 0;
    display: block;
  }

  .communication__item:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media (max-width: 991px) {

  .title {
    margin-bottom: 40px;
  }

  .section {
    padding: 70px 0;
  }

  .header__title {
    font-size: 40px;
  }

  .header__subtitle {
    font-size: 65px;
  }

  .header__link {
    bottom: 15px;
  }

  .skills__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills__img {
    margin: 0 0 50px;
  }

  .services__caption {
    font-size: 24px;
  }

  .portfolio,
  .communication {
    padding-top: 0;
  }

  .portfolio__filter {
    margin-bottom: 30px;
    flex-wrap: wrap;
  }

  .portfolio__wrapper {
    margin: 0 20px;
  }

  .portfolio__wrapper:not(:last-child) {
    margin: 0 20px;
  }

  .portfolio__btn {
    font-size: 20px;
    padding: 6px 10px;
  }

  .portfolio__list {
    gap: 25px;
    margin-bottom: 30px;
  }

  .reviews__blockquote {
    margin: 0 0 70px;
  }

  .reviews__video {
    margin: 0;
  }

  .communication__contacts {
    margin: 0 0 50px;
  }

  .footer {
    padding: 32px 0;
  }
}

@media (max-width: 991px) and (orientation:landscape) {

  .logo__img {
    width: 110px;
  }

  .menu__list {
    padding-top: 55px;
  }

  .menu__link {
    padding: 8px 0;
  }
    
  .header__content {
    height: calc(100vh - 59px);
  }

  .header__content.fixed {
    padding-top: 59px;
  }

  .header__title {
    max-width: 100%;
  }

  .header__subtitle {
    font-size: 40px;
  }
}

@media (max-width: 767px) {

  .title {
    font-size: 38px;
    margin-bottom: 30px;
  }

  .title::after {
    height: 12px;
    bottom: 8%;
  }

  .menu {
    padding-top: 10px;
  }

  .menu.fixed {
    padding: 10px 15px;
  }

  .menu__list {
    padding-top: 50px;
  }

  .logo__img {
    width: 110px;
  }

  .header__content {
    height: calc(100vh - 54px);
  }

  .header__content.fixed {
    padding-top: 54px;
  }

  .header__title {
    font-size: 34px;
  }

  .about,
  .skills,
  .services {
    text-align: center;
  }

  .about__text p {
    text-align: left;
  }

  .skills__item:not(:last-child) {
    margin-bottom: 24px;
  }

  .services__list {
    text-align: left;
  }

  .services__item {
    max-width: 400px;
  }

  .services__caption {
    margin-bottom: 15px;
  }

  .portfolio__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .result__list {
    gap: 30px;
  }


  .result__item {
    flex: 1 40%;
  }
}

@media (max-width: 575px) {

  .title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .title::after {
    height: 10px;
  }

  .section {
    padding: 50px 0;
  }

  .header__title {
    font-size: 28px;
  }

  .header__subtitle {
    font-size: 40px;
  }

  .header__link {
    font-size: 14px;
  }

  .about__text p {
    font-size: 16px;
  }

  .about__text p:not(:last-child) {
    margin-bottom: 15px;
  }

  .skills {
    text-align: center;
  }

  .skills__inner {
    padding: 0 22px;
  }

  .skills__img {
    margin: 0 0 30px;
  }

  .services__item:not(:last-child) {
    margin: 0 0 30px;
  }

  .services__item {
    margin: 0;
  }

  .services__item::before {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .services__caption {
    font-size: 20px;
  }

  .portfolio {
    padding-top: 13px;
  }

  .portfolio__filter {
    display: block;
    margin: -7px 0 19px;
  }

  .portfolio__wrapper {
    margin: 0;
  }

  .portfolio__wrapper:not(:last-child) {
    margin: 0;
  }

  .portfolio__btn {
    font-size: 18px;
    padding: 8px 0;
    width: 100%;
  }

  .portfolio__list {
    gap: 15px;
  }

  .reviews__content {
    position: relative;
  }

  .reviews__blockquote {
    font-size: 16px;
    margin: 0;
  }

  .reviews__avatar {
    margin-bottom: 30px;
  }

  .reviews__author {
    font-size: 20px;
  }

  .reviews__video {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 90px;
    left: calc(50% + 26px);
  }

  .reviews__video::before {
    border-radius: 50%;
  }

  .reviews__video::after {
    width: 17px;
    height: 20px;
    left: 55%;
  }

  .result__list {
    gap: 15px;
  }

  .result__item {
    max-width: 47%;
    padding: 25px 15px;
  }

  .result__item::before {
    width: 42px;
    height: 35px;
    margin-bottom: 8px;
  }

  .result__text {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .result__number {
    font-size: 30px;
  }

  .communication {
    padding-top: 0;
  }

  .communication__contacts {
    margin: 0 0 30px;
  }

  .communication__list {
    margin-bottom: 23px;
  }

  .communication__item:not(:last-child) {
    margin-bottom: 0px;
  }

  .form__top {
    flex-wrap: wrap;
  }

  .form__label {
    width: 100%;
    margin-bottom: 15px;
  }

  .form__label:first-child {
    margin-right: 0;
  }
}